.version.index /* version checker */
{
	color: #0000FB;
	background-color: #744953;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 252px;
	width: 0.01px;
}

#u82
{
	z-index: 2;
	width: 960px;
	background-color: transparent;
	position: relative;
}

#pu88
{
	width: 0.01px;
}

#u88
{
	z-index: 4;
	width: 960px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#menuu89
{
	z-index: 5;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u93
{
	width: 178px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u93:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u96-4
{
	width: 178px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u93:hover #u96-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu120
{
	z-index: 12;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u122
{
	width: 178px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u122:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 178px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u93.MuseMenuActive #u96-4,#u122:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#menuu128
{
	z-index: 19;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 356px;
}

#u132
{
	width: 178px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u132:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u135-4
{
	width: 178px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u122.MuseMenuActive #u124-4,#u132:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#menuu143
{
	z-index: 26;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 534px;
}

#u90,#u121,#u129,#u144
{
	width: 178px;
	min-height: 33px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u147
{
	width: 178px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u147:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u93.MuseMenuActive,#u122.MuseMenuActive,#u132.MuseMenuActive,#u147.MuseMenuActive
{
	border-color: #000000;
	background-color: #FF0000;
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u149-4
{
	width: 178px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u132.MuseMenuActive #u135-4,#u147:hover #u149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u147.MuseMenuActive #u149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

